<!DOCTYPE html>
<html lang="en">
    <head>
<!--Order / See Pricing Options Page
-->
        <title>Custom Pricing Options</title>
        <link href="main.css" rel="stylesheet" />
        <script src="main.js" async></script>
    </head> 
    <body>
        <div id="links">
            <ul>
                <li><a href="home.htm">Home Page</a></li>
                <li><a href="order.htm">Custom Pricing</a></li>
                <li><a href="aboutus.htm">About Us</a></li>
                <li><a href="customerservice.htm">Customer Service</a></li>
                <li><a href="location.htm">Where We Are Located</a></li>
            </ul>
        </div>
        <h1>Custom Pricing Options</h1>
        <div id="makeDropdown">
            <p>Click on the Make of Your Car:</p><select>here</select><option value="value">gugu</option>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Make" />
                <div id="makeContainer" class="myDropdown dropdown-content">
                    <a>Ford</a>
                    <a>Chevy</a>
                    <a>Dodge</a>
                    <a>Honda</a>
                    <a>Hyundai</a>
                    <a>Subaru</a>
                    <a>Kia</a>
                    <a>Nissan</a>
                    <a>Toyota</a>
                    <a>Volkswagen</a>
                    <a>Mazda</a>
                    <a>BMW</a>
                    <a>Jeep</a>
                    <a>Mercades</a>
                    <a>Buick</a>
                    <a>Chrysler</a>
                </div>
            </div>
        </div>
        <div id="fordDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="chevyDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="dodgeDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="hondaDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="hyundaiDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="subaruDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="kiaDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="nissanDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="toyotaDropdown">
            <p>Click on the Model of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="volkswagenDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="mazdaDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="bmwDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="jeepDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="mercadesDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="buickDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
        <div id="chryslerDropdown">
            <p>Click on the Make of Your Car:</p>
            <div class="dropdown">
                <input type="button" class="dropbtn" value="Model" />
                <div class="myDropdown dropdown-content">

                </div>
            </div>
        </div>
    </body>
</html>